html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/* ---------------------Fondo principal------------------------------- */
#fondoprincipal{
    background-image: url("../imagenes/lotrwallpaper.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
/* ---------------------Fondo principal------------------------------- */
/* #fondoprincipal:hover{
    opacity: 0.75;
} */
/* ---------------------------Barra de Navegación-------------------------- */
.barra{
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #333;
    /* overflow: hidden; */
    margin: 0;
    padding: 10px;
    /* list-style: none;  */
    gap: 10px;
    font-size: 22px;
}

.barra a{
    color: #ccc;
    text-decoration: none;
    font-size: 22px;
    padding: auto;
    text-align: center;
    /* float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0; */
    
    
}

.barra a.active{
    color: #eee;
    font-weight: bold;
    text-shadow: 0 0 2px; /* -x+ -y+ blur color*/
}

.barra a:hover{
    /* background-color: #c34; */
    color: #eee;
    text-shadow: 0 0 4px;
}
/* --------------------------Barra de navegación------------------------- */
/* --------------------------Inicio de Sesion---------------------------- */
.CCentral{
    width: 50%;
    height: 40%;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0px 0px 1px #8b5b6b;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #C72418;
}

input,
button{
    width: 95%;
    height: 40%;
}

input{
    border-radius: 8px;
    background-color: rgb(51, 51, 51);
    border: 1px #8b5b6b;
    color: #EEE;
}

button{
    background-color:#C72418;
    border-radius: 8px;
    border: 1px #C72418;
    color: #EEE;
}
/*----------------------------- Inicio de sesion------------------------------- */

/* ------------------------------ Pagina 1------------------------------------- */
header{
    height: 15%;
    background-color: #222;
}
.titulos{
    margin-top: 0%;
    font-size: 3em;
    color: #C72418;
    text-align: center;
}
/* ---------------------------- Grilla ----------------------------------------*/
.cajaP{
    align-items: center;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns:[x0] [x1] [x2] [x3] [x4] [x5] [x6];
    grid-template-rows:[y0] [y1] [y2] [y3] [y4] [y5] ;
    background-color: #8b5b6b   ;
}
.caja1,.caja3,.caja5,.caja7{
    background-color: aqua;
}
.caja2,.caja4,.caja6{
    background-color: #C72418;
}
.caja1{
    grid-column: x0/x2;
    grid-row: y0/y1;
}
.caja2{
    grid-column: x3/x6;
    grid-row: y2/y3;
}
.caja3{
    grid-column: ;
    grid-row: ;
}
.caja4{
    grid-column: ;
    grid-row: ;
}
.caja5{
    grid-column: ;
    grid-row: ;
}